In [1]:
import json
import pandas as pd
import re 
import glob 
import copy 
import os 
import nltk
import unicodedata 
from collections import Counter
from nltk.collocations import *
import numpy as np

In [2]:
# --- Uncomment below if needed ---
# !pip install -U pip setuptools wheel
# !pip install -U spacy
# nltk.download('stopwords')
# nltk.download('wordnet')
# nltk.download('omw-1.4')
#!python -m spacy download en_core_web_sm

In [2]:
bigram_measures = nltk.collocations.BigramAssocMeasures()
trigram_measures = nltk.collocations.TrigramAssocMeasures()
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
import spacy

In [3]:
nlp = spacy.load("en_core_web_sm")
import en_core_web_sm
nlp = en_core_web_sm.load()
from bs4 import BeautifulSoup
from html import unescape

In [4]:
%%time 
### Creating reviews dataframe 
data_file = open("yelp_academic_dataset_review.json",encoding='utf-8')
data = []
for line in data_file:
    data.append(json.loads(line))
reviewsdf = pd.DataFrame(data)
data_file.close()

CPU times: total: 2min 41s
Wall time: 10min 58s

In [5]:
%%time
### Creating businesses dataframe 
data_file = open("yelp_academic_dataset_business.json",encoding='utf-8')
data = []
for line in data_file:
    data.append(json.loads(line))
businessdf = pd.DataFrame(data)
data_file.close()

CPU times: total: 32.6 s
Wall time: 4min 30s

In [6]:
reviewsdf_org = reviewsdf
businessdf_org = businessdf

In [7]:
%%time
city_and_state = businessdf[['business_id', 'city', 'state']]
reviewsdf = reviewsdf.merge(city_and_state, on='business_id')
reviewsdf

CPU times: total: 1min
Wall time: 5min 10s

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,city,state
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,North Wales,PA
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2.0,0,0,0,This is the second time we tried turning point...,2017-05-13 17:06:55,North Wales,PA
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4.0,2,0,1,The place is cute and the staff was very frien...,2017-08-08 00:58:18,North Wales,PA
3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,We came on a Saturday morning after waiting a ...,2017-11-19 02:20:23,North Wales,PA
4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2.0,0,0,0,"Mediocre at best. The decor is very nice, and ...",2017-09-09 17:49:47,North Wales,PA
...,...,...,...,...,...,...,...,...,...,...,...
6990275,0gai4MzBzFCa7JsS31RRjg,xHu1jmrnv4DdJMuC8IxeRg,vI4vyi1dfG93oAiSRFDymA,1.0,2,0,0,Ridiculous wait times. I showed up right on ti...,2018-06-05 14:25:32,Paoli,PA
6990276,7MZu6bFdFoqr7MyPKqvoew,aYveEctPYcZiubXyEgLhTA,vI4vyi1dfG93oAiSRFDymA,5.0,4,1,2,Love this office. All the staff us super kind ...,2020-02-17 01:53:23,Paoli,PA
6990277,3emHuLQvuAw0l66TzSWmKA,oz-So7Kwo5tW51HrT-BgIg,vI4vyi1dfG93oAiSRFDymA,1.0,0,0,0,It was a HUGE mistake to give this place a try...,2021-09-22 16:51:46,Paoli,PA
6990278,T-adPwD-eP2LvuDINKOA9g,09zj3b4tM-xJjozvtk34wQ,vI4vyi1dfG93oAiSRFDymA,1.0,0,0,0,Friendly staff but the praise ends there. Gett...,2021-03-09 19:21:44,Paoli,PA
6990279,lKSY-hIMd9MX8Z5fRpUgDg,hyfUdXDmgqA4GI3S11I69w,vI4vyi1dfG93oAiSRFDymA,5.0,0,0,0,Had a great experience! Professional and frien...,2018-07-20 16:11:21,Paoli,PA

## Using smaller version of reviewsdf with just 100,000 businesses in California for faster processing and querying

In [8]:
reviewsdf = reviewsdf[reviewsdf['state'] == 'CA'].reset_index(drop=True)
reviewsdf

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,city,state
0,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3.0,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33,Santa Barbara,CA
1,9ag-bC-521T1i3IypXr4Ug,sx_cqxyWRUoOIoy_AXmLdQ,B5XSoSG3SfvQGtKEGQ1tSQ,4.0,1,0,0,I work with a college group that does camping ...,2013-09-07 21:16:36,Santa Barbara,CA
2,80p5xO3dbpd80T6vPTL8DQ,D7ct4p7uUk5t4LFSjVnO4A,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,0,0,0,My SO and I love exploring new trails and so i...,2018-08-05 21:50:27,Santa Barbara,CA
3,RScubg9WIp165432dQfVHQ,r9VkVP_4d2_KMHA9ZN2c6w,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,14,9,13,I can't believe there's only one review for th...,2011-07-06 23:14:29,Santa Barbara,CA
4,_JsMDKDQJ8uc6logHxA0-w,s0l9vVweCwvudj5TNGMl6w,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,1,0,0,I love this area for hiking! I go there all th...,2016-04-03 03:24:46,Santa Barbara,CA
...,...,...,...,...,...,...,...,...,...,...,...
348851,cKuP5pnvbvpn4UbaccVcdg,OVYb1El25BgVhgbXb4e-KA,XPkkWyAkkPeH-PqXmBMmpg,5.0,0,0,0,Great experience with great people who are rea...,2021-06-22 21:41:07,Santa Barbara,CA
348852,dZC87sZ1f2ntOf876_DDLg,9w5PoliouEyNikdy6DizqQ,XPkkWyAkkPeH-PqXmBMmpg,5.0,0,0,0,I spent the week in Santa Barbara and had the ...,2021-06-28 23:53:44,Santa Barbara,CA
348853,NCafkcXIvK7E965my4RpQg,GmuHOkMR80oW3sAuF-UsAw,XPkkWyAkkPeH-PqXmBMmpg,5.0,0,0,0,"Last summer, I had the pleasure of experiencin...",2021-07-06 19:15:56,Santa Barbara,CA
348854,VxsNftGxRUDZcLD0Ns1wKg,VRXPOvlSydho0tYmSseKnQ,XPkkWyAkkPeH-PqXmBMmpg,5.0,0,0,0,Joseph and Teresa are super hosts. You will f...,2021-07-01 03:44:10,Santa Barbara,CA
348855,beFM3Lm5Pj6Spr8x6RV9Cg,uoYuvbxTCB0eu1UF4sUTcA,XPkkWyAkkPeH-PqXmBMmpg,5.0,0,0,1,I discovered Santa Barbara Tours and Experienc...,2021-07-27 20:41:20,Santa Barbara,CA

In [9]:
reviewsdf = reviewsdf.head(30000)
reviewsdf

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,city,state
0,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3.0,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33,Santa Barbara,CA
1,9ag-bC-521T1i3IypXr4Ug,sx_cqxyWRUoOIoy_AXmLdQ,B5XSoSG3SfvQGtKEGQ1tSQ,4.0,1,0,0,I work with a college group that does camping ...,2013-09-07 21:16:36,Santa Barbara,CA
2,80p5xO3dbpd80T6vPTL8DQ,D7ct4p7uUk5t4LFSjVnO4A,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,0,0,0,My SO and I love exploring new trails and so i...,2018-08-05 21:50:27,Santa Barbara,CA
3,RScubg9WIp165432dQfVHQ,r9VkVP_4d2_KMHA9ZN2c6w,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,14,9,13,I can't believe there's only one review for th...,2011-07-06 23:14:29,Santa Barbara,CA
4,_JsMDKDQJ8uc6logHxA0-w,s0l9vVweCwvudj5TNGMl6w,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,1,0,0,I love this area for hiking! I go there all th...,2016-04-03 03:24:46,Santa Barbara,CA
...,...,...,...,...,...,...,...,...,...,...,...
29995,Zk-q3XdjXNUxwHH5BS2b3A,WyAYEIMeaxLhn80m_jy4Fg,fnGZspqyamRremXor0sAyg,5.0,0,0,0,I enjoyed a great view and delicious food at t...,2019-12-19 06:33:58,Santa Barbara,CA
29996,VMjZqDJYGHs_MSNXKhd4gw,LcG-WcuV4Ynv08chi1e9_A,fnGZspqyamRremXor0sAyg,4.0,1,0,2,Came here with some colleagues for a celebrato...,2019-07-16 14:23:02,Santa Barbara,CA
29997,lvaT-QAzAYWTqO7JWLEqYQ,ZDCWEctaQHfJQT1sH_rMmA,fnGZspqyamRremXor0sAyg,5.0,2,0,2,This is a great place with an excellent panora...,2018-12-20 17:21:36,Santa Barbara,CA
29998,wJAkDH0gTqpQaKH9PVwF9g,ik0UUieUX38rPg24heeVgw,fnGZspqyamRremXor0sAyg,3.0,1,0,0,Came for a late lunch and was hoping to get fl...,2019-06-01 01:49:43,Santa Barbara,CA
29999,9824ResgX033Y8rIicXJgQ,iKWcihTHpMIsVh3byem1Mg,ukhkivp_eCkyCpNcujoDtQ,5.0,0,0,0,"These guys were great. I called, they let me ...",2011-06-02 20:37:22,Goleta,CA

### Generate hashtags from reviews df

In [10]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [11]:
#Adjust mindf parameter
mindf = int(len(reviewsdf) * .001)
tfidf = TfidfVectorizer(sublinear_tf=True,
               analyzer='word',
#                max_features=2000,
               tokenizer=word_tokenize,
               stop_words=nltk.corpus.stopwords.words("english"),min_df=5)

In [12]:
text = list(reviewsdf['text'])
text = [re.sub(r'[^A-Za-z]+'," ",document) for document in text]

In [13]:
%%time
hashtagdf = pd.DataFrame(tfidf.fit_transform(text).toarray())

C:\Users\tonyt\anaconda3\envs\dsc80\lib\site-packages\sklearn\feature_extraction\text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ["'d", "'ll", "'re", "'s", "'ve", 'could', 'might', 'must', "n't", 'need', 'sha', 'wo', 'would'] not in stop_words.
  warnings.warn(

CPU times: total: 17.6 s
Wall time: 36.2 s

In [17]:
hashtagdf.columns = tfidf.get_feature_names()

C:\Users\tonyt\anaconda3\envs\dsc80\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [18]:
hashtagdfsum = hashtagdf.sum()
tfidf_scores = [(i,hashtagdfsum[i]) for i in hashtagdfsum.index]
tfidf_scores.sort(key=lambda x : x[1],reverse=True)

In [19]:
##REMOVE?
lower_threshold = int(len(tfidf_scores) * .08)
upper_threshold = int(len(tfidf_scores) * .60)
scores = tfidf_scores[lower_threshold:]
tfidf_dict = {item[0] : item[1] for item in scores}

In [20]:
#Maybe add ability to get N most useful tags 
def generate_tags(text):
    tags = set()
    for s in text.split(' '):
        if s in tfidf_dict:
            tags.add(s)
    return list(tags)[:5]

In [21]:
reviewsdf['tags'] = reviewsdf['text'].apply(generate_tags)

C:\Users\tonyt\AppData\Local\Temp\ipykernel_26612\2776938788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviewsdf['tags'] = reviewsdf['text'].apply(generate_tags)

In [22]:
reviewsdf.head(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,city,state,tags
0,ZKvDG2sBvHVdF5oBNUOpAQ,wSTuiTk-sKNdcFyprzZAjg,B5XSoSG3SfvQGtKEGQ1tSQ,3.0,1,1,0,This easter instead of going to Lopez Lake we ...,2016-03-30 22:46:33,Santa Barbara,CA,"[dead, national, grass, forest, rid]"
1,9ag-bC-521T1i3IypXr4Ug,sx_cqxyWRUoOIoy_AXmLdQ,B5XSoSG3SfvQGtKEGQ1tSQ,4.0,1,0,0,I work with a college group that does camping ...,2013-09-07 21:16:36,Santa Barbara,CA,"[compared, ten, areas, access, forever]"
2,80p5xO3dbpd80T6vPTL8DQ,D7ct4p7uUk5t4LFSjVnO4A,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,0,0,0,My SO and I love exploring new trails and so i...,2018-08-05 21:50:27,Santa Barbara,CA,"[balancing, break, passed, knowing, remove]"
3,RScubg9WIp165432dQfVHQ,r9VkVP_4d2_KMHA9ZN2c6w,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,14,9,13,I can't believe there's only one review for th...,2011-07-06 23:14:29,Santa Barbara,CA,"[bases, national, drops, continuously, range]"
4,_JsMDKDQJ8uc6logHxA0-w,s0l9vVweCwvudj5TNGMl6w,B5XSoSG3SfvQGtKEGQ1tSQ,5.0,1,0,0,I love this area for hiking! I go there all th...,2016-04-03 03:24:46,Santa Barbara,CA,"[public, forest]"

In [67]:
# trigram_measures = nltk.collocations.TrigramAssocMeasures()

In [68]:
# finder = BigramCollocationFinder.from_words()
# finder1 = finder.apply_freq_filter(1)
# finder.nbest(bigram_measures.pmi, 1500)
# #Maybe add bigrams to each string, so they end upo in freq dict
# # list(bigrams)

### Hashtag generation above needs to be improved, just temporarlily using it to continue with other parts

# Create graph data

1 ) Create  weighted edges between business and associated hashtags (edge weight is number of reviews that contained particular hashtag?)

2) Create weighted edges between hashtags that occur in the same business (or review ?) weight = num co coccurances in reviews?

Drop unecessary columns from reviewsdf

In [23]:
reviewsdf = reviewsdf[['review_id','text','business_id','city','state','tags']]
reviewsdf

,review_id,text,business_id,city,state,tags
0,ZKvDG2sBvHVdF5oBNUOpAQ,This easter instead of going to Lopez Lake we ...,B5XSoSG3SfvQGtKEGQ1tSQ,Santa Barbara,CA,"[dead, national, grass, forest, rid]"
1,9ag-bC-521T1i3IypXr4Ug,I work with a college group that does camping ...,B5XSoSG3SfvQGtKEGQ1tSQ,Santa Barbara,CA,"[compared, ten, areas, access, forever]"
2,80p5xO3dbpd80T6vPTL8DQ,My SO and I love exploring new trails and so i...,B5XSoSG3SfvQGtKEGQ1tSQ,Santa Barbara,CA,"[balancing, break, passed, knowing, remove]"
3,RScubg9WIp165432dQfVHQ,I can't believe there's only one review for th...,B5XSoSG3SfvQGtKEGQ1tSQ,Santa Barbara,CA,"[bases, national, drops, continuously, range]"
4,_JsMDKDQJ8uc6logHxA0-w,I love this area for hiking! I go there all th...,B5XSoSG3SfvQGtKEGQ1tSQ,Santa Barbara,CA,"[public, forest]"
...,...,...,...,...,...,...
29995,Zk-q3XdjXNUxwHH5BS2b3A,I enjoyed a great view and delicious food at t...,fnGZspqyamRremXor0sAyg,Santa Barbara,CA,[]
29996,VMjZqDJYGHs_MSNXKhd4gw,Came here with some colleagues for a celebrato...,fnGZspqyamRremXor0sAyg,Santa Barbara,CA,"[difficult, scenic, colleagues, wrap, ahi]"
29997,lvaT-QAzAYWTqO7JWLEqYQ,This is a great place with an excellent panora...,fnGZspqyamRremXor0sAyg,Santa Barbara,CA,"[western, handful, fare, weddings, comparison]"
29998,wJAkDH0gTqpQaKH9PVwF9g,Came for a late lunch and was hoping to get fl...,fnGZspqyamRremXor0sAyg,Santa Barbara,CA,"[sammy, iron, appear, hoping, barely]"
29999,9824ResgX033Y8rIicXJgQ,"These guys were great. I called, they let me ...",ukhkivp_eCkyCpNcujoDtQ,Goleta,CA,"[broken, pipe, scenario, quoted]"

In [24]:
###Create graph between business and associated hashtags 
from collections import defaultdict
businessAndTagGraph = defaultdict(lambda: defaultdict(int))
tagsGraph = defaultdict(lambda: defaultdict(int))

In [25]:
%%time
for review in reviewsdf.itertuples():
    businessId = review[3]
    tags = review[6]
    for i in range(len(tags)): 
        #Update Edge weights (number of times hashtag occurs in review)
        currTag = tags[i]
        businessAndTagGraph[businessId][currTag] += 1
        #Create edges and weights for tags in same review 
        for j in range(len(tags)):
            if i != j:
                 tagsGraph[currTag][tags[j]] += 1

CPU times: total: 1.73 s
Wall time: 7.79 s

#### Convert business and tags graph into dataframe/csv format

In [26]:
#businessAndTagsdf = pd.DataFrame(columns=['business_id','hashtag','count'])
idcol = []
hashtagcol = []
countcol = []
ignore = set(['index_names','column_names','index','columns','data'])
for businessid in businessAndTagGraph.keys():
    if businessid in ignore:
        continue
    for vals in businessAndTagGraph[businessid].items():
        idcol.append(businessid)
        hashtagcol.append(vals[0])
        countcol.append(vals[1])
        #businessAndTagsdf.append({'business_id':businessid,'hashtag':vals[0],count:vals[1]})

In [27]:
businessAndTagsdf = pd.DataFrame(columns = ['business_id','hashtag','count'])
businessAndTagsdf['business_id'] = idcol
businessAndTagsdf['hashtag'] = hashtagcol
businessAndTagsdf['count'] = countcol

In [28]:
#Resulting df 
businessdf = businessdf[['business_id','name','address','city','state','latitude','longitude','stars','categories']]

In [29]:
businessAndTagsdf = businessAndTagsdf.merge(businessdf,on='business_id')
businessAndTagsdf

,business_id,hashtag,count,name,address,city,state,latitude,longitude,stars,categories
0,B5XSoSG3SfvQGtKEGQ1tSQ,dead,1,Los Padres National Forest,San Marcos Pass Rd,Santa Barbara,CA,34.597239,-119.510772,4.5,"Parks, Active Life"
1,B5XSoSG3SfvQGtKEGQ1tSQ,national,5,Los Padres National Forest,San Marcos Pass Rd,Santa Barbara,CA,34.597239,-119.510772,4.5,"Parks, Active Life"
2,B5XSoSG3SfvQGtKEGQ1tSQ,grass,1,Los Padres National Forest,San Marcos Pass Rd,Santa Barbara,CA,34.597239,-119.510772,4.5,"Parks, Active Life"
3,B5XSoSG3SfvQGtKEGQ1tSQ,forest,2,Los Padres National Forest,San Marcos Pass Rd,Santa Barbara,CA,34.597239,-119.510772,4.5,"Parks, Active Life"
4,B5XSoSG3SfvQGtKEGQ1tSQ,rid,1,Los Padres National Forest,San Marcos Pass Rd,Santa Barbara,CA,34.597239,-119.510772,4.5,"Parks, Active Life"
...,...,...,...,...,...,...,...,...,...,...,...
72339,fnGZspqyamRremXor0sAyg,barely,1,Frog Bar & Grill,405 Glen Annie Rd,Santa Barbara,CA,34.442938,-119.880037,4.0,"Restaurants, American (Traditional), Nightlife..."
72340,ukhkivp_eCkyCpNcujoDtQ,broken,1,Goleta Mufflers & Brakes,"5921 Matthews St, Ste B",Goleta,CA,34.430054,-119.829281,4.0,"Auto Repair, Automotive"
72341,ukhkivp_eCkyCpNcujoDtQ,pipe,1,Goleta Mufflers & Brakes,"5921 Matthews St, Ste B",Goleta,CA,34.430054,-119.829281,4.0,"Auto Repair, Automotive"
72342,ukhkivp_eCkyCpNcujoDtQ,scenario,1,Goleta Mufflers & Brakes,"5921 Matthews St, Ste B",Goleta,CA,34.430054,-119.829281,4.0,"Auto Repair, Automotive"
72343,ukhkivp_eCkyCpNcujoDtQ,quoted,1,Goleta Mufflers & Brakes,"5921 Matthews St, Ste B",Goleta,CA,34.430054,-119.829281,4.0,"Auto Repair, Automotive"

##### Convert tags graph to df/csv format

In [30]:
tag1 = []
tag2 = []
sharedOccurances = []
for tag in tagsGraph.keys():
    for vals in tagsGraph[tag].items():
        tag1.append(tag)
        tag2.append(vals[0])
        sharedOccurances.append(vals[1])

In [31]:
tagsDf = pd.DataFrame(columns = ['tag1','tag2','sharedOccurances'])
tagsDf['tag1'] = tag1
tagsDf['tag2'] = tag2
tagsDf['sharedOccurances']= sharedOccurances

In [32]:
tagsDf

             tag1       tag2  sharedOccurances
0            dead   national                 1
1            dead      grass                 1
2            dead     forest                 1
3            dead        rid                 1
4            dead  poisoning                 1
...           ...        ...               ...
363935  adoptable     clinic                 1
363936       golf       wear                 1
363937       golf       dine                 1
363938       golf        ahi                 1
363939       golf     patios                 1

[363940 rows x 3 columns]

#### Save graphs to csv

In [33]:
businessAndTagsdf.to_csv('businessAndTags.csv')
tagsDf.to_csv('tagsGraph.csv')

# Import data into Neo4j

In [4]:
from neo4j import GraphDatabase
import neo4j

In [5]:
uri = "bolt://localhost:7666"
username = "neo4j"
password = "password"

def create_neo4j_session(uri, username, password):
    try:
        driver = GraphDatabase.driver(uri, auth=(username, password))
        session = driver.session()
        return session
    except Exception as e:
        print(f"Failed to create Neo4j session: {e}")
        return None

session = create_neo4j_session(uri, username, password)

In [36]:
# Deleting all existing constraints
deleting_constraints = "CALL apoc.schema.assert({}, {})"
session.run(deleting_constraints)

# Creating constraints for our graph
constraint_1 = "CREATE CONSTRAINT FOR (b:Business) REQUIRE b.id IS UNIQUE;"
constraint_2 = "CREATE CONSTRAINT FOR (t:tag) REQUIRE t.name IS UNIQUE;"

session.run(constraint_1)
session.run(constraint_2)

In [38]:
%%time
# Creating tag nodes and SHARED_TAGS relationship between tags with shared occurences
create_tags = """
LOAD CSV WITH HEADERS FROM 'file:///tagsGraph.csv' AS row  
WITH row
CALL {
WITH row
MERGE (t1:tag {id: row.tag1})
MERGE (t2:tag {id: row.tag2})
MERGE (t1)-[r:SHARED_TAGS]-(t2)
SET r.shared_count = row.sharedOccurances
} IN TRANSACTIONS"""

# takes about 45 minutes for version of reviewsdf with 30,000 rows from just California
session.run(create_tags)

CPU times: total: 0 ns
Wall time: 44min 37s

In [39]:
%%time
# Creating Business nodes and HAS_TAG relationship between the business and every tag that business has had in their reviews
create_business = """
LOAD CSV WITH HEADERS FROM 'file:///businessAndTags.csv' AS row  
WITH row
CALL {
WITH row
MERGE (b:Business {id: row.business_id})
SET b.name =  row.name, 
    b.address = row.address,
    b.city = row.city,
    b.state = row.state,
    b.latitude = row.latitude,
    b.longitude = row.longitude,
    b.rating = row.stars,
    b.categories = split(row.categories, ', ')
MERGE (t:tag {name: row.hashtag})
MERGE (b)-[r:HAS_TAG]->(t)
SET r.tag_count = row.count
} IN TRANSACTIONS
"""

session.run(create_business)

CPU times: total: 0 ns
Wall time: 2.89 s

## Applications

In [66]:
import redis
import time

# Connect to Redis container
r = redis.Redis(host='localhost', port=6379, db=0, decode_responses=True)

### Application 1: Finding the n closest businesses that share a tag with the given business id
- Given a businessid and n, which is the number of businesses the user wants to query
- Finds businesses that share at least one common tag with the given business id AND has at least one matching category
- Calculates the distance between all of those businesses and the given business, and finds the n closest ones

In [67]:
def closest_similar_businesses(business_id, n):
    app1_query = """MATCH (b1:Business) - [ht1:HAS_TAG] -> (t:tag) <- [ht2:HAS_TAG] - (b2:Business)
    WHERE b1.id = '""" + business_id + """' AND b1 <> b2 AND ANY(category IN b2.categories WHERE category IN b1.categories)
    WITH b1, b2, t
    ORDER BY point.distance(point({longitude: toFloat(b1.longitude), latitude: toFloat(b1.latitude)}), point({longitude: toFloat(b2.longitude), latitude: toFloat(b2.latitude)})) ASC
    WITH DISTINCT b2, b1
    LIMIT """ + str(n) + """
    RETURN b2, point.distance(point({longitude: toFloat(b1.longitude), latitude: toFloat(b1.latitude)}), point({longitude: toFloat(b2.longitude), latitude: toFloat(b2.latitude)})) AS distance
    """
    query_inputs = business_id + " " + str(n)
    cached_data = r.get(query_inputs)
    # if data is in cache already, retrieve query result from cache and return it
    if cached_data is not None:
        return cached_data
    
    given_business_name = session.run(f"""MATCH (b:Business) WHERE b.id = "{business_id}" RETURN b.name""") # gets business name
    results = session.run(app1_query) # gets the result of app1_query
    
    # formulates the output to user from the results of the query
    output = str(n) + " closest similar businesses to " + given_business_name.value()[0] + ": \n\n"
    for ind, x in enumerate(results):
        output = output + str(ind + 1) + ": " + x.values()[0].get('name') + ", which is " + str(round(x.values()[1] / 1000, 2)) + " km(s) away" + "\n"
        
    # store query result in cache and return the query result
    r.set(query_inputs, output)
    return output

In [68]:
# demo of 3 closest similar businesses to Los Padres National Forest
print(closest_similar_businesses("B5XSoSG3SfvQGtKEGQ1tSQ", 5))

5 closest similar businesses to Los Padres National Forest:

1: Run Montecito-Summerland, which is 21.06 km(s) away
2: Surf Happens, which is 21.55 km(s) away
3: Carpinteria Bluffs Nature Preserve, which is 23.48 km(s) away
4: Franceschi Park, which is 24.27 km(s) away
5: Paragon Jiu Jitsu and Kickboxing, which is 25.36 km(s) away

In [69]:
# demo of 3 closest similar businesses to Hibachi Steak House & Sushi Bar
print(closest_similar_businesses("gebiRewfieSdtt17PTW6Zg", 3))

3 closest similar businesses to Hibachi Steak House & Sushi Bar:

1: Mad Dogs, which is 0.03 km(s) away
2: Barbarians, which is 0.04 km(s) away
3: Caffe Primo, which is 0.06 km(s) away

In [70]:
# demo of how cache speeds up queries that have been made before
for i in range(5):
    start = time.time()
    closest_similar_businesses("gebiRewfieSdtt17PTW6Zg", 6)
    end = time.time()
    print(i + 1, ":", end - start)

1 : 0.10750365257263184
2 : 0.0016238689422607422
3 : 0.0010533332824707031
4 : 0.0010821819305419922
5 : 0.001070261001586914

### Application 2: Find n businesses in a given city that is the most similar to a given business id
- Given a businessid, a city name, and n, which is the number of businesses the user wants to query
- Finds businesses in the given city that share the most number of tags with the given business
- Return the top n business names

In [71]:
def most_similar_in_city(business_id, city, n):
    app2_query = """MATCH (b1:Business) - [ht1:HAS_TAG] -> (t:tag) <- [ht2:HAS_TAG] - (b2:Business)
    WHERE b1 <> b2 AND b2.city = '""" + city + """' AND b1.id = '""" + business_id + """' AND ANY(category IN b2.categories WHERE category IN b1.categories)
    WITH b1, b2, count(DISTINCT t) AS matching_tags
    ORDER BY matching_tags DESC
    LIMIT """ + str(n) + """
    RETURN b2.name AS name, matching_tags
    """
    query_inputs = business_id + " " + city + " " + str(n)
    cached_data = r.get(query_inputs)
    # if data is in cache already, retrieve query result from cache and return it
    if cached_data is not None:
        return cached_data
    
    given_business_name = session.run(f"""MATCH (b:Business) WHERE b.id = "{business_id}" RETURN b.name""") # gets business name
    results = session.run(app2_query) # gets the result of app2_query
    
    # formulates the output to user from the results of the query
    output = str(n) + " most similar businesses to " + given_business_name.value()[0] + " in the city of " + city + ":\n\n"
    for ind, x in enumerate(results):
        output = output + str(ind + 1) + ": " + x.values()[0] + ", with " + str(x.values()[1]) + " matching tags\n"
        
    # store query result in cache and return the query result
    r.set(query_inputs, output)
    return output

In [72]:
# demo of 5 most similar businesses in Goleta to Hibachi Steak House & Sushi Bar (Santa Barbara)
print(most_similar_in_city("gebiRewfieSdtt17PTW6Zg", "Goleta", 5))

5 most similar businesses to Hibachi Steak House & Sushi Bar in the city of Goleta:

1: The Original Habit Burger Grill, with 262 matching tags
2: Sushiya Express, with 202 matching tags
3: In-N-Out Burger, with 201 matching tags
4: Phamous Cafe, with 200 matching tags
5: Cal Taco, with 178 matching tags

In [73]:
# demo of 10 most similar businesses in Santa Barbara to Pho Bistro (Isla Vista)
print(most_similar_in_city("bdfZdB2MTXlT6-RBjSIpQg", "Santa Barbara", 10))

10 most similar businesses to Pho Bistro in the city of Santa Barbara:

1: Santa Barbara Shellfish Company, with 324 matching tags
2: Cold Spring Tavern, with 218 matching tags
3: Hibachi Steak House & Sushi Bar, with 196 matching tags
4: Dawn Patrol, with 192 matching tags
5: Backyard Bowls, with 188 matching tags
6: Bluewater Grill - Santa Barbara, with 183 matching tags
7: Chase Restaurant, with 161 matching tags
8: Sakana Sushi Bar & Japanese, with 152 matching tags
9: Zen Yai Thai Cuisine, with 144 matching tags
10: Helena Avenue Bakery, with 135 matching tags

In [74]:
# demo of how cache speeds up queries that have been made before
for i in range(5):
    start = time.time()
    most_similar_in_city("gebiRewfieSdtt17PTW6Zg", "Santa Barbara", 8)
    end = time.time()
    print(i + 1, ":", end - start)

1 : 0.08455610275268555
2 : 0.0015954971313476562
3 : 0.0010819435119628906
4 : 0.0016124248504638672
5 : 0.0016138553619384766

### Application 3 -  Find the N highest rated business in a city that contains atleast one specified hashtag from a list of provided hashtags

In [75]:
def getNHighestRatedFromCity(city,hashtags,n,sort):
    
    whereClause = 'WHERE'
    for i in range(len(hashtags)):
        if i == len(hashtags) -1:
            whereClause += f" t.name = '{hashtags[i]}'"
        else:
            whereClause += f" t.name = '{hashtags[i]}' OR"
            
    query = f'''MATCH p=(b : Business{{city:\'{city}'}})-[r:HAS_TAG]-(t:tag) {whereClause} RETURN b ORDER BY
    b.rating {sort} LIMIT {n}'''
    
    query_inputs = "highestRatedFromCity" + city + " " + str(hashtags) + " " + str(n) + " " + str(sort) + " "
    cached_data = r.get(query_inputs)
    
    if cached_data is not None:
        return cached_data
    res = session.run(query)
    output  = showOutputA3(res)
    r.set(query_inputs, output)
    
    return output

#The raw output of function above gives full record info, this function is a cleaner way to output results
def showOutputA3(records):
    output = ""
    for r in records:
        name = r['b']['name']
        city = r['b']['city']
        rating = r['b']['rating']
        output += (f'Restaurant Name: {name}, City: {city}, Rating: {rating}\n')
    return output

Here is an example of what the raw output of the function looks like

In [76]:
getNHighestRatedFromCity('Santa Barbara',['awful'],1,'DESC')

'Restaurant Name: Movegreen, City: Santa Barbara, Rating: 4.5\n'

Here is an example of the five lowest rated businesses that has reviews containing the hashtag awful

In [77]:
res = getNHighestRatedFromCity('Santa Barbara',['awful'],5,'ASC')
print(res)

Restaurant Name: Artistic Nails & Spa, City: Santa Barbara, Rating: 2.0
Restaurant Name: China Bowl & State Street Cafe, City: Santa Barbara, Rating: 2.0
Restaurant Name: India House, City: Santa Barbara, Rating: 2.0
Restaurant Name: Hilton Santa Barbara Beachfront Resort, City: Santa Barbara, Rating: 2.5
Restaurant Name: Andros Floor Design, City: Santa Barbara, Rating: 2.5

Here is an example of the five highest rated businesses that has reviews containing the hashtag awful

In [78]:
res = getNHighestRatedFromCity('Santa Barbara',['awful'],5,'DESC')
print(res)

Restaurant Name: The Eagle Inn, City: Santa Barbara, Rating: 4.5
Restaurant Name: Movegreen, City: Santa Barbara, Rating: 4.5
Restaurant Name: Taqueria Cuernavaca, City: Santa Barbara, Rating: 4.5
Restaurant Name: Bluewater Grill - Santa Barbara, City: Santa Barbara, Rating: 4.0
Restaurant Name: Sakana Sushi Bar & Japanese, City: Santa Barbara, Rating: 4.0

Here is an example of the five lowest rated businesses that has reviews which contain either the hashtag 'awful' or 'dead' (as you can see, it is different from the output above)

In [79]:
# demo of how cache speeds up queries that have been made before
for i in range(5):
    start = time.time()
    res = getNHighestRatedFromCity('Santa Barbara',['awful','dead'],5,'DESC')
    #showOutputA3(res)
    end = time.time()
    print(i + 1, ":", end - start)
print("\nOUTPUT:")
print(res)

1 : 0.009166955947875977
2 : 0.0016162395477294922
3 : 0.001611471176147461
4 : 0.0010499954223632812
5 : 0.0010535717010498047

OUTPUT:
Restaurant Name: The Red Piano, City: Santa Barbara, Rating: 4.5
Restaurant Name: Movegreen, City: Santa Barbara, Rating: 4.5
Restaurant Name: Taqueria Cuernavaca, City: Santa Barbara, Rating: 4.5
Restaurant Name: The Eagle Inn, City: Santa Barbara, Rating: 4.5
Restaurant Name: Cold Spring Tavern, City: Santa Barbara, Rating: 4.5

### Application 4: Find top N hashtags that are associated with a specific business id

In [80]:
exampleBusinessId1 = 'qdpdUjdkEUpzYDdce2yZng'
exampleBusinessId2 = 'B5XSoSG3SfvQGtKEGQ1tSQ'

In [81]:
def topNHashtagsForBusiness(businessId,k):
    
    query_inputs = 'topKHashtagsPerBusiness'+ " " + businessId + " "+ str(k)
    query = f'''Match(b:Business{{id:'{businessId}'}})-[r:HAS_TAG]-(t)  return t,r.tag_count Order by r.tag_count DESC LIMIT {k}'''
    cached_data = r.get(query_inputs)
    
    if cached_data is not None:
        return cached_data
    
    res = session.run(query)
    output = showOutputA4(res)
    r.set(query_inputs,output)
    return output 

def showOutputA4(records):
    output = ''
    for r in records:
        tag = r['t']['name']
        count = r['r.tag_count']
        output += (f'Hashtag: {tag}, Count: {count}' + '\n')
    return output

Here you can see an example of the top 10 hashtags associated with exampleBusinessId1 defined above

In [82]:
res = topNHashtagsForBusiness(exampleBusinessId1,10)
print(res)

Hashtag: cash, Count: 9
Hashtag: turkey, Count: 8
Hashtag: sodas, Count: 7
Hashtag: subs, Count: 6
Hashtag: east, Count: 6
Hashtag: squaw, Count: 5
Hashtag: reminds, Count: 5
Hashtag: plaza, Count: 5
Hashtag: soda, Count: 5
Hashtag: pop, Count: 4

Here you can see an example of the top 10 hashtags associated with exampleBusinessId2 defined above as well as a demonstration of speed up from cached queries

In [83]:
# demo of how cache speeds up queries that have been made before
for i in range(5):
    start = time.time()
    res = topNHashtagsForBusiness(exampleBusinessId2,10)
    end = time.time()
    print(i + 1, ":", end - start)
print('\nResult: ')
print(res)

1 : 0.010472536087036133
2 : 0.0016815662384033203
3 : 0.0010993480682373047
4 : 0.0016171932220458984
5 : 0.0010731220245361328

Result:
Hashtag: forest, Count: 4
Hashtag: mountain, Count: 3
Hashtag: camping, Count: 2
Hashtag: hikes, Count: 1
Hashtag: public, Count: 1
Hashtag: discover, Count: 1
Hashtag: venture, Count: 1
Hashtag: events, Count: 1
Hashtag: cleaner, Count: 1
Hashtag: heat, Count: 1

### Application 5 ( Hashtag Relationships): Find N most common hashtags that occur in the same reviews as provided hashtag 

Return restaurants that have reviews containing these hashtags

In [84]:
def findBusinessesWithNMostCommonTags(hashtag,n):
    query_inputs = 'findBusinessesWithMostCommonTags' + 'x' + hashtag + ' ' + str(n)
    query = f'''
    Match p = (t1:tag{{id:'{hashtag}'}})-[r1:SHARED_TAGS]-(t2:tag)  
    Match (b:Business)-[HAS_TAG]-(t3:tag{{name:t2.id}})
    RETURN b,t2,t3,r1.shared_count ORDER BY r1.shared_count DESC Limit {n}
    '''
    cached_data = r.get(query_inputs)
    if cached_data is not None:
        return cached_data
    
    res = session.run(query)
    output = showOutputA5(res)
    r.set(query_inputs,output)
    return output
def showOutputA5(records):
    output = ''
    for r in records:
        name = r['b']['name']
        commonTag  = r['t2']['id']
        tagCount = r['r1.shared_count']
        output += (f'Business: {name} | Tag Name: {commonTag} | Tag Count: {tagCount}' + '\n')
    return output

In [85]:
res = (findBusinessesWithNMostCommonTags('awful',3))
print(res)

Business: China Bowl & State Street Cafe | Tag Name: weird | Tag Count: 3
Business: Dallmeyer Physical Therapy | Tag Name: weird | Tag Count: 3
Business: The Joint Chiropractic | Tag Name: weird | Tag Count: 3

In [86]:
# demo of how cache speeds up queries that have been made before
for i in range(5):
    start = time.time()
    res = (findBusinessesWithNMostCommonTags('smelly',30))
    end = time.time()
    print(i + 1, ":", end - start)
print('\nResult:')
print(res)

1 : 0.02321910858154297
2 : 0.0016856193542480469
3 : 0.0016870498657226562
4 : 0.0016772747039794922
5 : 0.0016574859619140625

Result:
Business: Santa Barbara Shellfish Company | Tag Name: abalone | Tag Count: 1
Business: Pho Bistro | Tag Name: baguette | Tag Count: 1
Business: Farmer Boy | Tag Name: baguette | Tag Count: 1
Business: Brummis - the German Taste | Tag Name: baguette | Tag Count: 1
Business: Phamous Cafe | Tag Name: baguette | Tag Count: 1
Business: Cafe Buenos Aires | Tag Name: baguette | Tag Count: 1
Business: Helena Avenue Bakery | Tag Name: baguette | Tag Count: 1
Business: Cutting Edge Salon | Tag Name: luckily | Tag Count: 1
Business: Bluewater Grill - Santa Barbara | Tag Name: luckily | Tag Count: 1
Business: Cat Therapy | Tag Name: luckily | Tag Count: 1
Business: IHOP | Tag Name: luckily | Tag Count: 1
Business: Spa at Four Seasons Resort The Biltmore Santa Barbara | Tag Name: luckily | Tag Count: 1
Business: Nothing Bundt Cakes | Tag Name: luckily | Tag Count: 1
Business: Events By Rincon | Tag Name: luckily | Tag Count: 1
Business: The H Law Group | Tag Name: luckily | Tag Count: 1
Business: Farmer Boy | Tag Name: luckily | Tag Count: 1
Business: Chase Restaurant | Tag Name: luckily | Tag Count: 1
Business: Third Window Brewing | Tag Name: luckily | Tag Count: 1
Business: West Beach Inn, a Coast Hotel | Tag Name: luckily | Tag Count: 1
Business: Wine Edventures | Tag Name: luckily | Tag Count: 1
Business: Sakana Sushi Bar & Japanese | Tag Name: luckily | Tag Count: 1
Business: Padaro Beach Grill | Tag Name: luckily | Tag Count: 1
Business: Best Western Plus Pepper Tree Inn | Tag Name: luckily | Tag Count: 1
Business: Cal Taco | Tag Name: luckily | Tag Count: 1
Business: Dawn Patrol | Tag Name: luckily | Tag Count: 1
Business: Ichiban | Tag Name: luckily | Tag Count: 1
Business: Twisted Twig Fine Florals | Tag Name: luckily | Tag Count: 1
Business: Deep Sea Tasting Room | Tag Name: luckily | Tag Count: 1
Business: Santa Barbara County Courthouse | Tag Name: luckily | Tag Count: 1
Business: Santa Barbara Shellfish Company | Tag Name: luckily | Tag Count: 1

### Application 6: Given a certain category, what are the top hashtags for that category

In [87]:
def top_hashtags_per_category(category):
    query = f"""MATCH (b:Business)-[:HAS_TAG]->(t:tag)
WHERE '{category}' IN b.categories
RETURN t, COUNT(t)
ORDER BY COUNT(t) DESC
LIMIT 10"""
    
    
    query_inputs = f"{category}"
    cached_data = r.get(query_inputs)

    if cached_data is not None:
        return cached_data
    
    result = session.run(query)
    
    output = f"Top Hashtags for {category} Category:\n\n"
    
    for ind, record in enumerate(result):
        tag = record['t']['name']
        count = record['COUNT(t)']
        output = output + f'Hashtag: {tag}, Count: {count}\n'

    r.set(query_inputs, output)
    return output

In [88]:
print(top_hashtags_per_category('Sandwiches'))

Top Hashtags for Sandwiches Category:

Hashtag: turkey, Count: 8
Hashtag: sub, Count: 6
Hashtag: ten, Count: 6
Hashtag: cashier, Count: 6
Hashtag: addition, Count: 6
Hashtag: sense, Count: 5
Hashtag: seeing, Count: 5
Hashtag: particularly, Count: 5
Hashtag: leaving, Count: 5
Hashtag: neat, Count: 5

In [89]:
print(top_hashtags_per_category('Bakeries'))

Top Hashtags for Bakeries Category:

Hashtag: daily, Count: 5
Hashtag: bakery, Count: 5
Hashtag: wide, Count: 5
Hashtag: treats, Count: 5
Hashtag: pastry, Count: 5
Hashtag: purchased, Count: 5
Hashtag: brown, Count: 4
Hashtag: lemon, Count: 4
Hashtag: loves, Count: 4
Hashtag: cookies, Count: 4

In [90]:
# demo of how cache speeds up queries that have been made before
for i in range(5):
    start = time.time()
    top_hashtags_per_category('Restaurants')
    end = time.time()
    print(i + 1, ":", end - start)

1 : 0.04134964942932129
2 : 0.001722574234008789
3 : 0.00171661376953125
4 : 0.0016663074493408203
5 : 0.001661062240600586

###  Application 7: N most common hashtags in a particular city

In [91]:
def n_common_city_hashtags(city, N):
    query = f"""MATCH (b:Business)-[:HAS_TAG]->(t:tag)
WHERE b.city = '{city}'
RETURN t, COUNT(t)
ORDER BY COUNT(t) DESC
LIMIT {N}"""
    
    query_inputs = f"{city} {N}"
    cached_data = r.get(query_inputs)
    
    if cached_data is not None:
        return cached_data
    
    result = session.run(query)
    
    output = f"{N} Most Common Hashtags for {city}:\n\n"
    
    for ind, record in enumerate(result):
        tag = record['t']['name']
        count = record['COUNT(t)']
        output = output + f'Hashtag: {tag}, Count: {count}\n'
        
    return output

In [92]:
print(n_common_city_hashtags('Santa Barbara', 10))

10 Most Common Hashtags for Santa Barbara:

Hashtag: works, Count: 87
Hashtag: willing, Count: 80
Hashtag: seeing, Count: 76
Hashtag: leaving, Count: 74
Hashtag: hold, Count: 68
Hashtag: positive, Count: 67
Hashtag: meet, Count: 65
Hashtag: helping, Count: 64
Hashtag: sense, Count: 62
Hashtag: checking, Count: 62

In [93]:
print(n_common_city_hashtags('Goleta', 4))

4 Most Common Hashtags for Goleta:

Hashtag: answered, Count: 22
Hashtag: works, Count: 21
Hashtag: save, Count: 21
Hashtag: total, Count: 20

In [94]:
# demo of how cache speeds up queries that have been made before
for i in range(5):
    start = time.time()
    n_common_city_hashtags('Carpinteria', 3)
    end = time.time()
    print(i + 1, ":", end - start)

1 : 0.015246152877807617
2 : 0.010708332061767578
3 : 0.010969877243041992
4 : 0.009948015213012695
5 : 0.010642766952514648